div.powered
    p Powered by
        span &nbsp;
            a(href='http://www.aliyun.com/',target="_blank") Aliyun
        span &nbsp;&&
        span &nbsp;
            a(href='https://hexo.io/',target="_blank") Hexo

